{% extends "layout.html" %}
{% block content %}

<h2>Muokkaa ketjun otsikkoa</h2>
{% if session.user_id == thread_user_id or session.is_admin %}
<form action="/edit_thread/{{ thread_id }}" method="post">
Otsikko: <input type="text" name="heading" minlength="1" maxlength="40">
<input type="submit" value="Lähetä">
<input type="hidden" name="thread_id" value="{{ thread_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<p>
<a href="/">Palaa etusivulle</a>

{% endblock %}
