<title>Etusivu</title>
<h1>Keskustelusovellus</h1>
<p>Tervetuloa!</p>

Keskustelualueet:
<hr>
{% for section in sections %}
<li><a href="/section/{{ section.id }}">{{ section.topic }}</a>
<hr>
{% endfor %}
{% if session.username %}
<p>Olet kirjautunut sisään nimellä <b>{{ session.username }}</b></p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään tai luo uusi tunnus</a>
{% endif %}
<p>
{% if session.is_admin %}
<a href="/new_section">Luo uusi keskustelualue</a>
{% endif %}