{% extends "layout.html" %}
{% block content %}

<h2>Ketju: {{ title }}</h2>
<hr>
{% for message in messages %}
<li>{{ message.content }}
{% if message.user_id == session.user_id or session.is_admin %}
<a href="/remove_message/{{ message.id }}">Poista viesti</a> | 
<a href="/edit_message/{{ message.id }}">Muokkaa viestiä</a>
{% endif %}
<hr>
{% endfor %}
{% if session.username %}
<p>Olet kirjautunut sisään nimellä <b>{{ session.username }}</b></p>
<hr>
<a href="/new_message/{{ thread_id }}">Kirjoita uusi viesti</a>
<hr>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<p>
<a href="/">Palaa etusivulle</a>

{% endblock %}
